<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>神州通-取消预订</title>
	    <meta name="description" content="">
		<meta name="Keywords" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/orderInfoConfirm.css"/>
		
		<script type="text/javascript" charset="UTF-8">
			var win = window,doc = document;
			function setFontSize() {
			　　var winWidth = window.innerWidth;
				winWidth = winWidth<320 ? 320 : winWidth;
			　　doc.documentElement.style.fontSize = (((winWidth>640?640:winWidth) / 640) * 100) + 'px';
			};
			setFontSize();
			win.onresize=setFontSize;
   		</script>
   		<style type="text/css">
   			.area textarea{
   				resize: none;width: 100%;border-radius: 5px;
   				padding-top:4px;
   				padding-left: 4px;
   				height: 1rem;
   			}
   		</style>
	</head>
	<body>
		
		<div class="orderInfoConfirm">
			<div class="head fexid">
		     	<a href="javascript:history.go(-1);;"></a>
		     	<span>取消预订</span>
			</div>
		
			<div class="content">
				
				<ul>
				    <li>
						<div >
							订餐编号：
						</div>
						<div >
							0701200001  <span class="fr">创建人：<u>小伙子</u></span>
						</div>
						
					</li>
					<li>
						<div >
							订餐时间：
						</div>
						<div >
							2017-01-18  12:10:00
						</div>
						
					</li>
					<li>
						<div >
							用餐时间：
						</div>
						<div >
							2017-01-20  12:00:00
						</div>
						
					</li>
					<li>
						<div >
							预订台面：
						</div>
						<div >
							聚宝楼、岳阳楼  <span class="fr">用餐人数：  <u>8人</u></span>
						</div>
					</li>
					<li class="border_B">
						<div >
							订餐人：
						</div>
						<div >
							陈言
						</div>
						
					</li>
					
					<li><div >
							订单状态：
						</div>
						<div style="padding-left: 1.3rem;line-height: .3rem;">
							已确认
						</div>
						
						
						
					</li>
					<li class="border_B">
						<div >
							服务员：
						</div>
						<div >
							<span>刘园园</span>
							<div style="float: right;">
								确认时间：<span class="Date">2015-07-13 12:00:00</span>
							</div>
						</div>
					</li>
					
					
					
					<li style="padding-bottom:.09rem;">
					
						<div >
							点餐列表：
						</div>
						<div class="menuL">
							<!-- <p style="float: right;">单品评价</p> -->
							<dl>
							    <dt>
									<span>菜品名</span>
									<span>数量</span>
									<p>单价</p>
									<div class="flavor" style="text-align: center;">口味</div>
								</dt>
								<dt>
									<span>1、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
								<dt>
									<span>2、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
								<dt>
									<span>3、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
								<dt>
									<span>4、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
							</dl>
							
						</div>
					</li>
					<!--加减菜-->
					<li style="padding-top: 0;">
						<div >
							加减菜：
						</div>
						<div class="menuL">
							<dl>
								<dt>
									<span>3、红烧牛肉</span>
									<span><i class="red num">-1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
								<dt>
									<span>4、红烧牛肉</span>
									<span><i class="red num">-1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
								<dt>
									<span>4、红烧牛肉</span>
									<span><i class="red num">+1</i>份</span>
									<p class="price">30元</p>
									<div><i class="red">微辣、清淡</i></div>
								</dt>
							</dl>
							
						</div>				
					</li>
					<!--统计数量和金额-->
					<li style="padding: .06rem .15rem">
					    <div></div><div class="menuL">数量：<span>8</span><p class="fr">合计：<span class="count">100.00元</span></p><div>
					</li>
					<li>
						<div >
							备注：
						</div>
						<div class="menuL message">
							不吃味精 不要放盐  不要放油 不要放 不要 不
						</div>
						
					</li>
					<li>
						<div >
							取消原因：
						</div>
						<div class="menuL message area">
							<textarea style="" name="" rows="" cols=""></textarea>
						</div>
						
					</li>
				</ul>
				
				<div class="btn">
					<a class="blank" href="javascript:history.go(-1);">返回</a>
					<a href="myOrder.html">取消预订</a>
				</div>
				
				
			</div>
		
		</div>
		
		
		
		<script src="../libs/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/amount.js"></script>
		<script type="text/javascript">
           $(document).ready(function(){
           	  // var total=$('.menuL dl dt').size();
           	  // $('.total').html(total-1);
              
             //实例对象
           	 var amount=new Amount('num','price','.count');
           	     amount.showCount();
           });
		</script>
		
		
		
		
		
	</body>
</html>
