<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>神州通-总裁办</title>
	    <meta name="description" content="">
		<meta name="Keywords" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.poppicker.css"/>
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/CEOoffice.css"/>
		<script type="text/javascript" charset="UTF-8">
			var win = window,doc = document;
			function setFontSize() {
			　　var winWidth = window.innerWidth;
				winWidth = winWidth<320 ? 320 : winWidth;
			　　doc.documentElement.style.fontSize = (((winWidth>640?640:winWidth) / 640) * 100) + 'px';
			};
			setFontSize();
			win.onresize=setFontSize;     
   		</script>
	</head>
	<body class="CEOoffice">
		<div class="">
			<div class="head">
		     	<a href="javascript:history.go(-1);;"></a>
		     	<span>汇总查看</span>
			</div>
			
			<div class="top">
				<div class="date">
					<div class="dateText">订餐日期:</div>
					<div class="dataNumber">
						<input type="text" id="dataStar1" name="" id=""  />
						<sapn>-</sapn>
						<input type="text" id="dataEnd1" name="" id="" />
					</div>
				</div>
				
				<div class="date">
					<div class="dateText">订餐日期:</div>
					<div class="dataNumber">
						<input type="text" id="dataStar2"  name="" id=""  />
						<sapn>-</sapn>
						<input type="text" id="dataEnd2" name="" id="" />
					</div>
				</div>
				
				<div class="date clear-fix">
					<div class="dateText w5">
						
						<span>用餐人:</span>
						<div class="name">
							<input type="text" name="" id="name" value="" />
						</div>
					</div>
					
					<div class="dateText w5 w1 ">
						<span>状态:</span>
						<div class="name ">
							<input type="text" name="" id="status" value="" />
						</div>
					</div>
					<button >查询</button>
				</div>
				
			</div>
		
			<div class="listBox">
				<ul>
					<li>
						<div class="clear-fix">
							<p><label>用餐人：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="clear-fix">
							<p><label>订单号：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="time">
							<div><label>订餐时间：</label><span>2017年01月10日  14:14:16</span></div>
							<div><label>用餐时间：</label><span>2017年01月10日  14:14:16</span></div>
						</div>
						<button>查看</button>
					</li>
					
					
					<li>
						<div class="clear-fix">
							<p><label>用餐人：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="clear-fix">
							<p><label>订单号：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="time">
							<div><label>订餐时间：</label><span>2017年01月10日  14:14:16</span></div>
							<div><label>用餐时间：</label><span>2017年01月10日  14:14:16</span></div>
						</div>
						<button>查看</button>
					</li>
					
					
					
					<li>
						<div class="clear-fix">
							<p><label>用餐人：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="clear-fix">
							<p><label>订单号：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="time">
							<div><label>订餐时间：</label><span>2017年01月10日  14:14:16</span></div>
							<div><label>用餐时间：</label><span>2017年01月10日  14:14:16</span></div>
						</div>
						<button>查看</button>
					</li>
					
					
					<li>
						<div class="clear-fix">
							<p><label>用餐人：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="clear-fix">
							<p><label>订单号：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="time">
							<div><label>订餐时间：</label><span>2017年01月10日  14:14:16</span></div>
							<div><label>用餐时间：</label><span>2017年01月10日  14:14:16</span></div>
						</div>
						<button>查看</button>
					</li>
					
					
					<li>
						<div class="clear-fix">
							<p><label>用餐人：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="clear-fix">
							<p><label>订单号：</label><span>张三</span></p>
							<p><label>用餐费用：</label><span>2000</span></p>
						</div>
						<div class="time">
							<div><label>订餐时间：</label><span>2017年01月10日  14:14:16</span></div>
							<div><label>用餐时间：</label><span>2017年01月10日  14:14:16</span></div>
						</div>
						<button>查看</button>
					</li>
					
					
					
					
				</ul>				
			</div>
		
		
		
		</div>
		
		<script src="../libs/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			(function($){
						
	         $.init();
	         $.ready(function() {
	          var startTime = document.querySelector('#dataStar1');
	          startTime.addEventListener('tap', function() {
	          	var that = this;
	        
	            var dtpicker = new $.DtPicker({
	            	beginDate: new Date(2015, 04, 25),
	            	endDate: new Date(2016, 04, 25)
	            });
//	            var dtpicker = new $.DtPicker({
//				    type: "datetime",//设置日历初始视图模式 
//				    beginDate: new Date(2015, 04, 25),//设置开始日期 
//				    endDate: new Date(2016, 04, 25),//设置结束日期 
//				    labels: ['Year', 'Mon', 'Day', 'Hour', 'min'],//设置默认标签区域提示语 
//				    customData: { 
//				        h: [
//				            { value: 'AM', text: 'AM' },
//				            { value: 'PM', text: 'PM' }
//				        ] 
//				    }//时间/日期别名 
//				}) 

	            
	            
	            dtpicker.show(function(rs) {             
	               that.value=rs.value;
	               picker.dispose();
	            });

				

	          }, false);
	          
	          
	          
	          var startTime2= document.querySelector('#dataStar2');
	          startTime2.addEventListener('tap', function() {
	          	var that = this;
	            var optionsJson = this.getAttribute('data-options') || '{}';
	            var options = JSON.parse(optionsJson);
	            var id = this.getAttribute('id');
	            var picker = new $.DtPicker(options);
	            picker.show(function(rs) {             
	               that.value=rs.value;
	               picker.dispose();
	            });
	          }, false);
	          
	          
	          
	          var startEnd2 = document.querySelector('#dataEnd2');
	          startEnd2.addEventListener('tap', function() {
	          	var that = this;
	            var optionsJson = this.getAttribute('data-options') || '{}';
	            var options = JSON.parse(optionsJson);
	            var id = this.getAttribute('id');
	            var picker = new $.DtPicker(options);
	            picker.show(function(rs) {             
	               that.value=rs.value;
	               picker.dispose();
	            });
	          }, false);
	          
	          
	          
	          var dataEnd1 = document.querySelector('#dataEnd1');
	          dataEnd1.addEventListener('tap', function() {
	          	var that = this;
	            var optionsJson = this.getAttribute('data-options') || '{}';
	            var options = JSON.parse(optionsJson);
	            var id = this.getAttribute('id');
	            var picker = new $.DtPicker(options);
	            picker.show(function(rs) {             
	               that.value=rs.value;
	               picker.dispose();
	            });
	          }, false);
	          
	          
	          
	          
	        });
	         document.querySelector('#name').addEventListener('tap', function() {
	         	var that = this;
	            var picker1 = new mui.PopPicker(); 
		        picker1.setData([{value:'zz',text:'小伙子-董事长'},{value:'zz',text:'小胖子-工程师'},{value:'zz',text:'大傻子-跑腿'}]); 
		        picker1.show(function(rs){
		            that.value=rs[0].text;
		        });
	          }, false);
	        
				document.querySelector('#status').addEventListener('tap', function() {
	         	var that = this;
	            var picker1 = new mui.PopPicker(); 
		        picker1.setData([{value:'zz',text:'未预定'},{value:'zz',text:'预定中'},{value:'zz',text:'缺菜'}]); 
		        picker1.show(function(rs){
		            that.value=rs[0].text;
		        });
	          }, false);
				
			})(mui)
		</script>
		
	</body>
</html>
