<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>神州通-订餐查看</title>
	    <meta name="description" content="">
		<meta name="Keywords" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/orderInfoConfirm.css"/>
		<link rel="stylesheet" type="text/css" href="../css/signBill.css"/>
		
		<script type="text/javascript" charset="UTF-8">
			var win = window,doc = document;
			function setFontSize() {
			　　var winWidth = window.innerWidth;
				winWidth = winWidth<320 ? 320 : winWidth;
			　　doc.documentElement.style.fontSize = (((winWidth>640?640:winWidth) / 640) * 100) + 'px';
			};
			setFontSize();
			win.onresize=setFontSize;     
   		</script>
   		<style type="text/css">
   			.orderInfoConfirm .content li div:nth-child(1){
   				width: 1.5rem;
   			}
   			.orderInfoConfirm .content li dd{
   				/*padding-right: 1rem;*/
   				padding-top: .2rem;
   			}
   			.orderInfoConfirm .content li dt:first-child{
   				/*padding-right: 1rem;*/
   				padding-top: .1rem;
   			}
   			.orderInfoConfirm .content li dt .hotZ{
   				width:1rem;
   			}
   			
   			
   		</style>
   		<!-- <style type="text/css">
		    @media print {
		        @page {
		          size: 5.5in 15in;
		        }
		     
		    }
       
  		</style> -->
	</head>
	<body>
		
		<div class="orderInfoConfirm signBill">
			<div class="head fexid">
		     	<a href="javascript:history.go(-1);;"></a>
		     	<span>订餐查看</span>
			</div>
		
			<div class="content">
				
				<ul>
					<li>
						<div >
							订餐编号：
						</div>
						<div >
							0701200001  <span class="fr">创建人：<u>小伙子</u></span>
						</div>
						
					</li>
					<li>
						<div >
							订餐时间：
						</div>
						<div >
							2017-01-18  12:10:00
						</div>
						
					</li>
					<li>
						<div >
							用餐时间：
						</div>
						<div >
							2017-01-20  12:00:00  <span class="fr">用餐人数：  <u>8人</u></span>
						</div>
						
					</li>
					<li>
						<div >
							预订台面：
						</div>
						<div >
							聚宝楼、岳阳楼  <span class="fr">用餐人数：  <u>8人</u></span>
						</div>
					</li>
					<li class="border_B">
						<div >
							订餐人：
						</div>
						<div >
							陈言
						</div>
						
					</li>
					
					<li><div >
							订单状态：
						</div>
						<div style="padding-left: 1.3rem;line-height: .3rem;">
							已付款
						</div>
						
						
						
					</li>
					<li>
						<div >
							服务员：
						</div>
						<div >
							<span>刘园园</span>
							<div style="float: right;">
								结单时间：<span class="Date">2015-07-13 12:00:00</span>
							</div>
						</div>
					</li>
					<li>
						<div >
							签单人：
						</div>
						<div >
							<span>陈言</span>
							<div style="float: right;">
								签单时间：<span class="Date">2015-07-13 12:00:00</span>
							</div>
						</div>
					</li>
					<li class="border_B">
						<div >
							回款确认人：
						</div>
						<div >
							<span>陈言</span>
							<div style="float: right;">
								回款时间：<span class="Date">2015-07-13 12:00:00</span>
							</div>
						</div>
					</li>
					
					
					<li style="padding-bottom:0;">
					
						<div style="line-height: .45rem;">点餐列表：</div>
						<div class="menuL">
							<!-- <p style="float: right;">单品评价</p> -->
							<dl>
							    <dt>
									<span>菜品名</span>
									<span>数量</span>
									<p>单价</p>
									<div class="flavor" style="text-align: center;">评价</div>
								</dt>
								<dt>
									<span>1、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
								<dt>
									<span>2、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
								<dt>
									<span>3、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
								<dt>
									<span>4、红烧牛肉</span>
									<span><i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
							</dl>
							
						</div>
					</li>
					<!--加减菜-->
					<li style="padding-top: 0;">
						<div style="line-height: .71rem;">加减菜：</div>
						<div class="menuL">
							<dl>
								<dt>
									<span>3、红烧牛肉</span>
									<span><i class="red num">-1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
								<dt>
									<span>4、红烧牛肉</span>
									<span>+<i class="red num">1</i>份</span>
									<p class="price">30元</p>
									<div class="hotZ">
										<a class="none" href="javascript:;"></a>
										<a href="javascript:;"></a>
									</div>
								</dt>
							</dl>
							
						</div>				
					</li>
					<!--统计数量和金额-->
					<li style="padding: .06rem .15rem">
					    <div></div><div class="menuL">数量：<span>8</span><p class="fr">小计：<span class="count">100.00</span>元</p><div>
					</li>
					<li style="padding: .06rem .15rem; padding-bottom: .15rem; border-bottom:1px solid #ddd; overflow:hidden;">
					    <div>其他：</div><div class="menuL">收取其他服务费<p class="fr">小计：<span class="otherCount">100.00</span>元</p><div>
					    <div style="padding-top: .1rem"></div><div class="menuL" style="padding-top: .1rem"><p class="fr">合计：<span class="totalCount">100.00</span>元</p><div>
					</li>
					
					<li>
						<div >
							备注：
						</div>
						<div class="menuL message" style="padding-left: 1.5rem;">
							我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准我是被准
						</div>
						
					</li>
				</ul>
				
				<div class="btn" style="-webkit-justify-content: space-around;justify-content: space-around;">
					<p>服务评价: <span>5</span>星</p>
					<p>菜品评价: <span>5</span>星</p>
					<p>环境评价: <span>5</span>星</p>
				</div>
				
				
			</div>
		
		</div>
		
		
		<button id="printBtn">打印</button>
		<script src="../libs/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		   $(document).ready(function(){
		   	  //点赞
				$('.hotZ a').on('click',function(){
					if($(this).hasClass('active')){
						alert('你已经点赞过了！');
					}else{
						$(this).addClass('active');
						$(this).next().off('click');
					}
				});

			    //金额计算
				function Amount(nodeNum,nodePrice,nodeCount,otherCount,totalCount){
				    this.number=document.getElementsByClassName(nodeNum);
				    this.prices=document.getElementsByClassName(nodePrice);
				    this.count =document.querySelector(nodeCount);
				    this.otherCount =document.querySelector(otherCount);
				    this.totalCount =document.querySelector(totalCount);
				 }
				Amount.prototype.showCount=function(){
				 	this.count.innerHTML=0;
				 	this.totalCount.innerHTML=0;
				 	var count=0,totalCount=0;
				 	for(var i=0;i<this.number.length;i++){
				    var area=this.prices[i].innerHTML.substring(0,this.prices[i].innerHTML.length-1);
				        count+=parseInt(this.number[i].innerHTML)*parseFloat(area);
				    }
				    count=count.toFixed(2);
				    this.count.innerHTML=count;
				    var otherCount=parseFloat(this.otherCount.innerHTML);
				        totalCount=(parseFloat(count)+otherCount).toFixed(2);
				    this.totalCount.innerHTML=totalCount;
				};
				//实例对象
				var amount=new Amount('num','price','.count','.otherCount','.totalCount');
           	     amount.showCount();
		   });
		</script>
			
		<script type="text/javascript">
			$(document).ready(function(){
				var url= window.location.href;
				var contentH= $('.orderInfoConfirm').height();
				$('#printBtn').on('click',function(){
					window.location.href='print.html?'+url+'&'+contentH;
				});
			});
		</script>
	</body>
</html>
