<!doctype html>
<html lang="en" style="font-size:50px;">
<head>
  <meta charset="UTF-8">
  <title>用户列表</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <link rel="stylesheet" type="text/css" href="../css/libs/wappublic.css">
  <link rel="stylesheet" type="text/css" href="../css/userList.css">
  <script type="text/javascript" src="../libs/fontSize.js"></script>
  <script type="text/javascript" src="../libs/jquery-1.8.3.min.js"></script>
</head>
<body>
    <!--header-->
    <header>
       <h1>台面新增</h1>
       <b onclick="javascript:history.go(-1);"></b>
    </header>
    <!--section-->
    <section>
       <ul>
         <li>
            <span class="add-item-status checkbox-btn"> 
              <input type="checkbox" name="" id='checkbox' /> 
            </span>
            <span>张三</span>
            <span>总经理</span>
            <span>A001</span>
         </li>
         <li>
            <span class="add-item-status checkbox-btn"> 
              <input type="checkbox" name="" id='checkbox' /> 
            </span>
            <span>张三</span>
            <span>总经理</span>
            <span>A001</span>
         </li>
         <li>
            <span class="add-item-status checkbox-btn"> 
              <input type="checkbox" name="" id='checkbox' /> 
            </span>
            <span>张三</span>
            <span>总经理</span>
            <span>A001</span>
         </li>
         <li>
            <span class="add-item-status checkbox-btn"> 
              <input type="checkbox" name="" id='checkbox' /> 
            </span>
            <span>张三</span>
            <span>总经理</span>
            <span>A001</span>
         </li>
       </ul>
    </section>
    <footer>
       <button>确定</button>
    </footer>
</body>
</html>