<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>神州通-加换退菜</title>
	    <meta name="description" content="">
		<meta name="Keywords" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/waiter-addFood.css"/>
		<script type="text/javascript" charset="UTF-8">
			var win = window,doc = document;
			function setFontSize() {
			　　var winWidth = window.innerWidth;
			　　doc.documentElement.style.fontSize = (((winWidth>640?640:winWidth) / 640) * 100) + 'px';
			};
			setFontSize();
			win.onresize=setFontSize;
   		</script>
	</head>
	<body>
		<div class="addFood">
			<div class="head">
			    <a href="javascript:history.go(-1);;"></a>
			    <span>加换退菜</span>
			</div>
			
			<div class="main">
				<p class="pTitle">餐厅台面</p>
				<ul class="room">
					<li class="noon night">庐山厅</li>
					<li class="active">聚宝楼</li>
					<!--<li class="active" check='1'>聚宝楼</li>-->
					<li class="active activeBorder">岳阳楼</li>
					<li>庐山厅</li>
					<li>聚宝楼</li>
					<li>岳阳楼</li>
					<li>庐山厅</li>
					<li>聚宝楼</li>
					<li>办公室</li>
				</ul>
				<p class="pTitle">正在用餐</p>
				<ul class="tableList">
					<li>
						<a href="waiter-changeFood.html" class="btnR">
							加换退菜
						</a>
						<div class="left" >
							<p  class="clear-fix"><span class="fl">订餐人：小伙子</span><span class="fl r">地点：聚宝楼</span></p>	
							<p>人数：8人</p>
							<p>时间：2017-01-18 12:00:00</p>	
						</div>
						
					</li>
					<li>
						<a href="waiter-changeFood.html" class="btnR">
							加换退菜
						</a>
						<div class="left" >
							<p  class="clear-fix"><span class="fl">订餐人：小伙子</span><span class="fl r">地点：聚宝楼</span></p>	
							<p>人数：8人</p>
							<p>时间：2017-01-18 12:00:00</p>	
						</div>
						
					</li>
					
					<li>
						<a href="waiter-changeFood.html" class="btnR">
							加换退菜
						</a>
						<div class="left" >
							<p  class="clear-fix"><span class="fl">订餐人：小伙子</span><span class="fl r">地点：聚宝楼</span></p>	
							<p>人数：8人</p>
							<p>时间：2017-01-18 12:00:00</p>	
						</div>
						
					</li>
					
					<li>
						<a href="waiter-changeFood.html" class="btnR">
							加换退菜
						</a>
						<div class="left" >
							<p  class="clear-fix"><span class="fl">订餐人：小伙子</span><span class="fl r">地点：聚宝楼</span></p>	
							<p>人数：8人</p>
							<p>时间：2017-01-18 12:00:00</p>	
						</div>
						
					</li>
					
					<li>
						<a href="waiter-changeFood.html" class="btnR">
							加换退菜
						</a>
						<div class="left" >
							<p  class="clear-fix"><span class="fl">订餐人：小伙子</span><span class="fl r">地点：聚宝楼</span></p>	
							<p>人数：8人</p>
							<p>时间：2017-01-18 12:00:00</p>	
						</div>
						
					</li>
				</ul>
			</div>
			
			
			
		</div>
		<script src="../libs/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/waiter-addFood.js" type="text/javascript" charset="utf-8"></script>
		
		
		
		
		
	</body>
</html>
