<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>神州通-加菜换菜详情</title>
	    <meta name="description" content="">
		<meta name="Keywords" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/libs/mui.poppicker.css"/>
		<link rel="stylesheet" href="../css/global/rest.css">
		<link rel="stylesheet" type="text/css" href="../css/orderingInfo.css"/>
		<link rel="stylesheet" type="text/css" href="../css/roomFood.css"/>
		
		<script type="text/javascript" charset="UTF-8">
			var win = window,doc = document;
			function setFontSize() {
			　　var winWidth = window.innerWidth;
			　　doc.documentElement.style.fontSize = (((winWidth>640?640:winWidth) / 640) * 100) + 'px';
			};
			setFontSize();
			win.onresize=setFontSize;
   		</script>
   		<style>
   			.oder-Info .list-box .ipt{
   				height: .6rem;
   				line-height: .6rem;
   			}
   			.oder-Info .list-box .ipt.no{
   				line-height: normal;
   				
   			}
   			.oder-Info .list-box .ipt.no input{
   				margin-bottom: .1rem !important;
   			}
   			.oder-Info .list-box .right .queCai{
   				color:#f00;
   				padding-top: .38rem;
   				margin-right: .36rem;
   			}
   			.oder-Info .list-box .sumAll{
   				border-bottom: none;
   				padding-top: .2rem;
   			}
   			hr{
   				margin-bottom: 0;
   				margin-top: .12rem;
   			}
   			.oder-Info .btn-wrap button{
   				width:1.6rem;
   			}
   		</style>
	</head>
	<body class="oder-Info changeFood waiterOrder">
		
		
		<div class="head">
		     <a href="javascript:history.go(-1);;"></a>
		     <span>加菜换菜详情</span>
		</div>
		
		<!--包间-->
		<div class="mask">
			<p class="mH">订餐人选择的地点：<span class="red">办公室</span></p>
			<div class="addrTit">
				餐厅地点（可多选）
			</div>
			<ul>
				<li class="noon night">庐山厅</li>
				<li >聚宝楼</li>
				
				<!--<li class="active" check='1'>聚宝楼</li>-->
				<li>岳阳楼</li>
				<li>庐山厅</li>
				<li>聚宝楼</li>
				<li>岳阳楼</li>
				<li>庐山厅</li>
				<li>聚宝楼</li>
				<li>岳阳楼</li>
			</ul>
			<div class="addrTit">
				办公地点（可多选）
			</div>
			<ul>
				<li  class="noon night ">九楼办公室</li>
				<!--<li  class="noon night active"  check='1'>九楼办公室</li>-->
				<li>八楼办公室</li>
				<li>七楼办公室</li>
				<li>其它</li>
			</ul>
			
			<div class="fixdBtn">
				<a id="enter"  href="javascript:;">确认</a>
				<a id="return" href="javascript:;">返回</a>
			</div>
			
		</div>
		
		
		
		<div class="warp">
			<ul class="list-box">
				<li>
					<span class="s must">
						创建人：
					</span>
					<div class="ipt">
						小伙子
					</div>
				</li>	
				<li>
					<span class="s must">
						订餐人：
					</span>
					<div class="ipt">
						小伙子
					</div>
				</li>	
				
				<li>
					<span class="s must">
						订餐时间：
					</span>
					<div class="ipt">
						2017-01-01 12:00:00
					</div>
				</li>
				<li>
					<span class="s must">
						用餐时间：
					</span>
					<div class="ipt">
						2017-01-01 12:00:00
					</div>
				</li>
				
				<li class="numA">
					<span class="s must">
						用餐人数：
					</span>
					<div class="ipt no trans" >
						<div class="count" >
							<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
							  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
							  <input class="mui-numbox-input" type="number" />
							  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
							</div>
						</div>
					</div>
				</li>		
				
				<li>
					<span class="s must">
						用餐地点：
					</span>
					<div class="ipt address ">
						<div class="clear-fix">
							<input type="text" name="" id="address" value="" readonly="readonly">
							<a id="choiceAddr" href="javascript:;">
								选择
							</a>
						</div>
					</div>
				</li>	
				<li class="br">
					<span class="s ">
						点餐列表&nbsp;&nbsp;
					</span>
					<div class="ipt ">
						
					</div>
				</li>
				
				
				<li class="menu">
					<div class="left">
						<div class="primary"><a href="deliciousFood.html"><img src="../images/u99.png"/></a></div>
<!--						
						<div class="one">近一次</div>
						<div class="one">近两次</div>-->
						
					</div>
					
					
					<div class="right">
						
						<ul>
							<li>
								<div class="trans">
									<div class="count">
										<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
										  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										  <input class="mui-numbox-input" type="number" />
										  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
										</div>
									</div>
									<div class="name">
										<h2>1、红烧狮子头</h2>
										<p>
											<span >18元	</span>
											<span>微辣</span>
											<span >清淡</span>
										</p>
									</div>
								</div>
								<div class="remove">
									删除
								</div>
								
							</li>
							<li>
								<div class="trans">
									<div class="count">
										<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
										  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										  <input class="mui-numbox-input" type="number" />
										  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
										</div>
									</div>
									<div class="name">
										<h2>2、红烧狮子头</h2>
										<p>
											<span >18元	</span>
											<span>微辣</span>
											<span >清淡</span>
										</p>
									</div>
								</div>
							<div class="remove">
									删除
								</div>
								
							</li>
							<li>
								
								<div class="trans">
									<div class="count">
										<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
										  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										  <input class="mui-numbox-input" type="number" />
										  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
										</div>
									</div>
									<div class="name">
										<h2>3、红烧狮子头</h2>
										<p>
											<span >18元	</span>
											<span>微辣</span>
											<span >清淡</span>
										</p>
									</div>
								</div>
								<div class="remove">
									删除
								</div>
								
							</li>
							<li>
								
								<div class="trans">
									<div class="count">
										<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
										  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										  <input class="mui-numbox-input" type="number" />
										  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
										</div>
									</div>
									<div class="name">
										<h2>4、红烧狮子头</h2>
										<p>
											<span >18元	</span>
											<span>微辣</span>
											<span >清淡</span>
										</p>
									</div>
								</div>
								<div class="remove">
									删除
								</div>
							</li>
							<li>
								
								<div class="trans">
									<div class="count">
										<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='100'>
										  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										  <input class="mui-numbox-input" type="number" />
										  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
										</div>
									</div>
									<div class="name">
										<h2>5、红烧狮子头</h2>
										<p>
											<span >18元	</span>
											<span>微辣</span>
											<span >清淡</span>
										</p>
									</div>
								</div>
								<div class="remove">
									删除
								</div>
							</li>
						</ul>
						
						
					</div>
					
					
					
				</li>
				
				<li class="sumAll">
					<span>数量：<i>22</i></span>
					<span>合计：<i>2345元</i></span>
				</li>
				
				
				<!--<li>
					
					<span class="s ">
						备注：
					</span>
					<div class="ipt ">
						<textarea></textarea>
					</div>
					
				</li>-->
			</ul>
			
			
			<div class="btn-wrap">
				<button>取消</button>
				<button>确认</button>

			</div>
			
			
		</div>
		
		<script src="../libs/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/waiter-addFood.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			(function($, doc, jq) {
//				var pagex;
//				var rm = jq('.remove');
//				var tran = jq('.trans');
//				var that = null,falg = false;
//				tran.on('touchstart', function(e){
//					var event = e.originalEvent.changedTouches[0];
//					pagex = event.pageX;
//					that = jq(this);
//					falg = false;
//					rm.css({'transform' : 'translateX('+-(0)+'px)'});
//					tran.css({'transform' : 'translateX('+-(0)+'px)'});
//					
//					
//					jq('.right ul').on('touchmove', function(e){
//						var x, y;
//						var event = e.originalEvent.changedTouches[0];
//						pageMoveX = event.pageX;
//						x = pageMoveX - pagex;
//						
//						if(x<0){
//							x =  Math.abs(x)>=70 ? 70 : Math.abs(x);
//							if(x>=70){
//								falg = true;
//							}
//							console.log(x)
//							that.next().css({'transform' : 'translateX('+-(x/2)+'px)'});
//							that.css({'transform' : 'translateX('+-(x/2)+'px)'});
//						}
//					});
//					
//				}).on('touchend', function(){
//					jq('.right ul').off('touchmove')
//					if(!falg){
//						rm.css({'transform' : 'translateX('+-(0)+'px)'});
//						tran.css({'transform' : 'translateX('+-(0)+'px)'});
//						falg = false;
//					}else{
//						that.next().css({'transform' : 'translateX('+-(35)+'px)'});
//						that.css({'transform' : 'translateX('+-(35)+'px)'});
//					}
//				});
//				
//				
//				
//				
//				
//			
//				
//				
//				
//				
//	         $.init();
//	         $.ready(function() {
//	          var startTime = document.querySelector('#startTime');
//	          startTime.addEventListener('tap', function() {
//	          	var that = this;
//	            var optionsJson = this.getAttribute('data-options') || '{}';
//	            var options = JSON.parse(optionsJson);
//	            var id = this.getAttribute('id');
//	            var picker = new $.DtPicker(options);
//	            picker.show(function(rs) {             
//	               that.value=rs.value;
//	               picker.dispose();
//	            });
//	          }, false);
//	        });
//	         document.querySelector('.parson').addEventListener('tap', function() {
//	         	var that = this;
//	            var picker1 = new mui.PopPicker(); 
//		        picker1.setData([{value:'zz',text:'小伙子-董事长'},{value:'zz',text:'小胖子-工程师'},{value:'zz',text:'大傻子-跑腿'}]); 
//		        picker1.show(function(rs){
//		            that.value=rs[0].text;
//		        });
//	          }, false);
	        
	      })(mui, document, jQuery);
		</script>
		<script type="text/javascript">
          $(document).ready(function(){
          	 $('.btn-wrap button').eq(0).on('click',function(event) {
          	 	document.location.href="waiter-cancelOrder.html";
          	 });
          });
		</script>
	</body>
</html>
