html {
	font-size: 20px
}

@media only screen and (min-width:320px) {
	html {
		font-size: 20px
	}
}

@media only screen and (min-width:321px) {
	html {
		font-size: 20.06px
	}
}

@media only screen and (min-width:322px) {
	html {
		font-size: 20.13px
	}
}

@media only screen and (min-width:323px) {
	html {
		font-size: 20.19px
	}
}

@media only screen and (min-width:324px) {
	html {
		font-size: 20.25px
	}
}

@media only screen and (min-width:325px) {
	html {
		font-size: 20.31px
	}
}

@media only screen and (min-width:326px) {
	html {
		font-size: 20.38px
	}
}

@media only screen and (min-width:327px) {
	html {
		font-size: 20.44px
	}
}

@media only screen and (min-width:328px) {
	html {
		font-size: 20.5px
	}
}

@media only screen and (min-width:329px) {
	html {
		font-size: 20.56px
	}
}

@media only screen and (min-width:330px) {
	html {
		font-size: 20.63px
	}
}

@media only screen and (min-width:331px) {
	html {
		font-size: 20.69px
	}
}

@media only screen and (min-width:332px) {
	html {
		font-size: 20.75px
	}
}

@media only screen and (min-width:333px) {
	html {
		font-size: 20.81px
	}
}

@media only screen and (min-width:334px) {
	html {
		font-size: 20.88px
	}
}

@media only screen and (min-width:335px) {
	html {
		font-size: 20.94px
	}
}

@media only screen and (min-width:336px) {
	html {
		font-size: 21px
	}
}

@media only screen and (min-width:337px) {
	html {
		font-size: 21.06px
	}
}

@media only screen and (min-width:338px) {
	html {
		font-size: 21.13px
	}
}

@media only screen and (min-width:339px) {
	html {
		font-size: 21.19px
	}
}

@media only screen and (min-width:340px) {
	html {
		font-size: 21.25px
	}
}

@media only screen and (min-width:341px) {
	html {
		font-size: 21.31px
	}
}

@media only screen and (min-width:342px) {
	html {
		font-size: 21.38px
	}
}

@media only screen and (min-width:343px) {
	html {
		font-size: 21.44px
	}
}

@media only screen and (min-width:344px) {
	html {
		font-size: 21.5px
	}
}

@media only screen and (min-width:345px) {
	html {
		font-size: 21.56px
	}
}

@media only screen and (min-width:346px) {
	html {
		font-size: 21.63px
	}
}

@media only screen and (min-width:347px) {
	html {
		font-size: 21.69px
	}
}

@media only screen and (min-width:348px) {
	html {
		font-size: 21.75px
	}
}

@media only screen and (min-width:349px) {
	html {
		font-size: 21.81px
	}
}

@media only screen and (min-width:350px) {
	html {
		font-size: 21.88px
	}
}

@media only screen and (min-width:351px) {
	html {
		font-size: 21.94px
	}
}

@media only screen and (min-width:352px) {
	html {
		font-size: 22px
	}
}

@media only screen and (min-width:353px) {
	html {
		font-size: 22.06px
	}
}

@media only screen and (min-width:354px) {
	html {
		font-size: 22.13px
	}
}

@media only screen and (min-width:355px) {
	html {
		font-size: 22.19px
	}
}

@media only screen and (min-width:356px) {
	html {
		font-size: 22.25px
	}
}

@media only screen and (min-width:357px) {
	html {
		font-size: 22.31px
	}
}

@media only screen and (min-width:358px) {
	html {
		font-size: 22.38px
	}
}

@media only screen and (min-width:359px) {
	html {
		font-size: 22.44px
	}
}

@media only screen and (min-width:360px) {
	html {
		font-size: 22.5px
	}
}

@media only screen and (min-width:361px) {
	html {
		font-size: 22.56px
	}
}

@media only screen and (min-width:362px) {
	html {
		font-size: 22.63px
	}
}

@media only screen and (min-width:363px) {
	html {
		font-size: 22.69px
	}
}

@media only screen and (min-width:364px) {
	html {
		font-size: 22.75px
	}
}

@media only screen and (min-width:365px) {
	html {
		font-size: 22.81px
	}
}

@media only screen and (min-width:366px) {
	html {
		font-size: 22.88px
	}
}

@media only screen and (min-width:367px) {
	html {
		font-size: 22.94px
	}
}

@media only screen and (min-width:368px) {
	html {
		font-size: 23px
	}
}

@media only screen and (min-width:369px) {
	html {
		font-size: 23.06px
	}
}

@media only screen and (min-width:370px) {
	html {
		font-size: 23.13px
	}
}

@media only screen and (min-width:371px) {
	html {
		font-size: 23.19px
	}
}

@media only screen and (min-width:372px) {
	html {
		font-size: 23.25px
	}
}

@media only screen and (min-width:373px) {
	html {
		font-size: 23.31px
	}
}

@media only screen and (min-width:374px) {
	html {
		font-size: 23.38px
	}
}

@media only screen and (min-width:375px) {
	html {
		font-size: 23.44px
	}
}

@media only screen and (min-width:376px) {
	html {
		font-size: 23.5px
	}
}

@media only screen and (min-width:377px) {
	html {
		font-size: 23.56px
	}
}

@media only screen and (min-width:378px) {
	html {
		font-size: 23.63px
	}
}

@media only screen and (min-width:379px) {
	html {
		font-size: 23.69px
	}
}

@media only screen and (min-width:380px) {
	html {
		font-size: 23.75px
	}
}

@media only screen and (min-width:381px) {
	html {
		font-size: 23.81px
	}
}

@media only screen and (min-width:382px) {
	html {
		font-size: 23.88px
	}
}

@media only screen and (min-width:383px) {
	html {
		font-size: 23.94px
	}
}

@media only screen and (min-width:384px) {
	html {
		font-size: 24px
	}
}

@media only screen and (min-width:385px) {
	html {
		font-size: 24.06px
	}
}

@media only screen and (min-width:386px) {
	html {
		font-size: 24.13px
	}
}

@media only screen and (min-width:387px) {
	html {
		font-size: 24.19px
	}
}

@media only screen and (min-width:388px) {
	html {
		font-size: 24.25px
	}
}

@media only screen and (min-width:389px) {
	html {
		font-size: 24.31px
	}
}

@media only screen and (min-width:390px) {
	html {
		font-size: 24.38px
	}
}

@media only screen and (min-width:391px) {
	html {
		font-size: 24.44px
	}
}

@media only screen and (min-width:392px) {
	html {
		font-size: 24.5px
	}
}

@media only screen and (min-width:393px) {
	html {
		font-size: 24.56px
	}
}

@media only screen and (min-width:394px) {
	html {
		font-size: 24.63px
	}
}

@media only screen and (min-width:395px) {
	html {
		font-size: 24.69px
	}
}

@media only screen and (min-width:396px) {
	html {
		font-size: 24.75px
	}
}

@media only screen and (min-width:397px) {
	html {
		font-size: 24.81px
	}
}

@media only screen and (min-width:398px) {
	html {
		font-size: 24.88px
	}
}

@media only screen and (min-width:399px) {
	html {
		font-size: 24.94px
	}
}

@media only screen and (min-width:400px) {
	html {
		font-size: 25px
	}
}

@media only screen and (min-width:401px) {
	html {
		font-size: 25.06px
	}
}

@media only screen and (min-width:402px) {
	html {
		font-size: 25.13px
	}
}

@media only screen and (min-width:403px) {
	html {
		font-size: 25.19px
	}
}

@media only screen and (min-width:404px) {
	html {
		font-size: 25.25px
	}
}

@media only screen and (min-width:405px) {
	html {
		font-size: 25.31px
	}
}

@media only screen and (min-width:406px) {
	html {
		font-size: 25.38px
	}
}

@media only screen and (min-width:407px) {
	html {
		font-size: 25.44px
	}
}

@media only screen and (min-width:408px) {
	html {
		font-size: 25.5px
	}
}

@media only screen and (min-width:409px) {
	html {
		font-size: 25.56px
	}
}

@media only screen and (min-width:410px) {
	html {
		font-size: 25.63px
	}
}

@media only screen and (min-width:411px) {
	html {
		font-size: 25.69px
	}
}

@media only screen and (min-width:412px) {
	html {
		font-size: 25.75px
	}
}

@media only screen and (min-width:413px) {
	html {
		font-size: 25.81px
	}
}

@media only screen and (min-width:414px) {
	html {
		font-size: 25.88px
	}
}

@media only screen and (min-width:415px) {
	html {
		font-size: 25.94px
	}
}

@media only screen and (min-width:416px) {
	html {
		font-size: 26px
	}
}

@media only screen and (min-width:417px) {
	html {
		font-size: 26.06px
	}
}

@media only screen and (min-width:418px) {
	html {
		font-size: 26.13px
	}
}

@media only screen and (min-width:419px) {
	html {
		font-size: 26.19px
	}
}

@media only screen and (min-width:420px) {
	html {
		font-size: 26.25px
	}
}

@media only screen and (min-width:421px) {
	html {
		font-size: 26.31px
	}
}

@media only screen and (min-width:422px) {
	html {
		font-size: 26.38px
	}
}

@media only screen and (min-width:423px) {
	html {
		font-size: 26.44px
	}
}

@media only screen and (min-width:424px) {
	html {
		font-size: 26.5px
	}
}

@media only screen and (min-width:425px) {
	html {
		font-size: 26.56px
	}
}

@media only screen and (min-width:426px) {
	html {
		font-size: 26.63px
	}
}

@media only screen and (min-width:427px) {
	html {
		font-size: 26.69px
	}
}

@media only screen and (min-width:428px) {
	html {
		font-size: 26.75px
	}
}

@media only screen and (min-width:429px) {
	html {
		font-size: 26.81px
	}
}

@media only screen and (min-width:430px) {
	html {
		font-size: 26.88px
	}
}

@media only screen and (min-width:431px) {
	html {
		font-size: 26.94px
	}
}

@media only screen and (min-width:432px) {
	html {
		font-size: 27px
	}
}

@media only screen and (min-width:433px) {
	html {
		font-size: 27.06px
	}
}

@media only screen and (min-width:434px) {
	html {
		font-size: 27.13px
	}
}

@media only screen and (min-width:435px) {
	html {
		font-size: 27.19px
	}
}

@media only screen and (min-width:436px) {
	html {
		font-size: 27.25px
	}
}

@media only screen and (min-width:437px) {
	html {
		font-size: 27.31px
	}
}

@media only screen and (min-width:438px) {
	html {
		font-size: 27.38px
	}
}

@media only screen and (min-width:439px) {
	html {
		font-size: 27.44px
	}
}

@media only screen and (min-width:440px) {
	html {
		font-size: 27.5px
	}
}

@media only screen and (min-width:441px) {
	html {
		font-size: 27.56px
	}
}

@media only screen and (min-width:442px) {
	html {
		font-size: 27.63px
	}
}

@media only screen and (min-width:443px) {
	html {
		font-size: 27.69px
	}
}

@media only screen and (min-width:444px) {
	html {
		font-size: 27.75px
	}
}

@media only screen and (min-width:445px) {
	html {
		font-size: 27.81px
	}
}

@media only screen and (min-width:446px) {
	html {
		font-size: 27.88px
	}
}

@media only screen and (min-width:447px) {
	html {
		font-size: 27.94px
	}
}

@media only screen and (min-width:448px) {
	html {
		font-size: 28px
	}
}

@media only screen and (min-width:449px) {
	html {
		font-size: 28.06px
	}
}

@media only screen and (min-width:450px) {
	html {
		font-size: 28.13px
	}
}

@media only screen and (min-width:451px) {
	html {
		font-size: 28.19px
	}
}

@media only screen and (min-width:452px) {
	html {
		font-size: 28.25px
	}
}

@media only screen and (min-width:453px) {
	html {
		font-size: 28.31px
	}
}

@media only screen and (min-width:454px) {
	html {
		font-size: 28.38px
	}
}

@media only screen and (min-width:455px) {
	html {
		font-size: 28.44px
	}
}

@media only screen and (min-width:456px) {
	html {
		font-size: 28.5px
	}
}

@media only screen and (min-width:457px) {
	html {
		font-size: 28.56px
	}
}

@media only screen and (min-width:458px) {
	html {
		font-size: 28.63px
	}
}

@media only screen and (min-width:459px) {
	html {
		font-size: 28.69px
	}
}

@media only screen and (min-width:460px) {
	html {
		font-size: 28.75px
	}
}

@media only screen and (min-width:461px) {
	html {
		font-size: 28.81px
	}
}

@media only screen and (min-width:462px) {
	html {
		font-size: 28.88px
	}
}

@media only screen and (min-width:463px) {
	html {
		font-size: 28.94px
	}
}

@media only screen and (min-width:464px) {
	html {
		font-size: 29px
	}
}

@media only screen and (min-width:465px) {
	html {
		font-size: 29.06px
	}
}

@media only screen and (min-width:466px) {
	html {
		font-size: 29.13px
	}
}

@media only screen and (min-width:467px) {
	html {
		font-size: 29.19px
	}
}

@media only screen and (min-width:468px) {
	html {
		font-size: 29.25px
	}
}

@media only screen and (min-width:469px) {
	html {
		font-size: 29.31px
	}
}

@media only screen and (min-width:470px) {
	html {
		font-size: 29.38px
	}
}

@media only screen and (min-width:471px) {
	html {
		font-size: 29.44px
	}
}

@media only screen and (min-width:472px) {
	html {
		font-size: 29.5px
	}
}

@media only screen and (min-width:473px) {
	html {
		font-size: 29.56px
	}
}

@media only screen and (min-width:474px) {
	html {
		font-size: 29.63px
	}
}

@media only screen and (min-width:475px) {
	html {
		font-size: 29.69px
	}
}

@media only screen and (min-width:476px) {
	html {
		font-size: 29.75px
	}
}

@media only screen and (min-width:477px) {
	html {
		font-size: 29.81px
	}
}

@media only screen and (min-width:478px) {
	html {
		font-size: 29.88px
	}
}

@media only screen and (min-width:479px) {
	html {
		font-size: 29.94px
	}
}

@media only screen and (min-width:480px) {
	html {
		font-size: 30px
	}
}

@media only screen and (min-width:481px) {
	html {
		font-size: 30.06px
	}
}

@media only screen and (min-width:482px) {
	html {
		font-size: 30.13px
	}
}

@media only screen and (min-width:483px) {
	html {
		font-size: 30.19px
	}
}

@media only screen and (min-width:484px) {
	html {
		font-size: 30.25px
	}
}

@media only screen and (min-width:485px) {
	html {
		font-size: 30.31px
	}
}

@media only screen and (min-width:486px) {
	html {
		font-size: 30.38px
	}
}

@media only screen and (min-width:487px) {
	html {
		font-size: 30.44px
	}
}

@media only screen and (min-width:488px) {
	html {
		font-size: 30.5px
	}
}

@media only screen and (min-width:489px) {
	html {
		font-size: 30.56px
	}
}

@media only screen and (min-width:490px) {
	html {
		font-size: 30.63px
	}
}

@media only screen and (min-width:491px) {
	html {
		font-size: 30.69px
	}
}

@media only screen and (min-width:492px) {
	html {
		font-size: 30.75px
	}
}

@media only screen and (min-width:493px) {
	html {
		font-size: 30.81px
	}
}

@media only screen and (min-width:494px) {
	html {
		font-size: 30.88px
	}
}

@media only screen and (min-width:495px) {
	html {
		font-size: 30.94px
	}
}

@media only screen and (min-width:496px) {
	html {
		font-size: 31px
	}
}

@media only screen and (min-width:497px) {
	html {
		font-size: 31.06px
	}
}

@media only screen and (min-width:498px) {
	html {
		font-size: 31.13px
	}
}

@media only screen and (min-width:499px) {
	html {
		font-size: 31.19px
	}
}

@media only screen and (min-width:500px) {
	html {
		font-size: 31.25px
	}
}

@media only screen and (min-width:501px) {
	html {
		font-size: 31.31px
	}
}

@media only screen and (min-width:502px) {
	html {
		font-size: 31.38px
	}
}

@media only screen and (min-width:503px) {
	html {
		font-size: 31.44px
	}
}

@media only screen and (min-width:504px) {
	html {
		font-size: 31.5px
	}
}

@media only screen and (min-width:505px) {
	html {
		font-size: 31.56px
	}
}

@media only screen and (min-width:506px) {
	html {
		font-size: 31.63px
	}
}

@media only screen and (min-width:507px) {
	html {
		font-size: 31.69px
	}
}

@media only screen and (min-width:508px) {
	html {
		font-size: 31.75px
	}
}

@media only screen and (min-width:509px) {
	html {
		font-size: 31.81px
	}
}

@media only screen and (min-width:510px) {
	html {
		font-size: 31.88px
	}
}

@media only screen and (min-width:511px) {
	html {
		font-size: 31.94px
	}
}

@media only screen and (min-width:512px) {
	html {
		font-size: 2pc
	}
}

@media only screen and (min-width:513px) {
	html {
		font-size: 32.06px
	}
}

@media only screen and (min-width:514px) {
	html {
		font-size: 32.13px
	}
}

@media only screen and (min-width:515px) {
	html {
		font-size: 32.19px
	}
}

@media only screen and (min-width:516px) {
	html {
		font-size: 32.25px
	}
}

@media only screen and (min-width:517px) {
	html {
		font-size: 32.31px
	}
}

@media only screen and (min-width:518px) {
	html {
		font-size: 32.38px
	}
}

@media only screen and (min-width:519px) {
	html {
		font-size: 32.44px
	}
}

@media only screen and (min-width:520px) {
	html {
		font-size: 32.5px
	}
}

@media only screen and (min-width:521px) {
	html {
		font-size: 32.56px
	}
}

@media only screen and (min-width:522px) {
	html {
		font-size: 32.63px
	}
}

@media only screen and (min-width:523px) {
	html {
		font-size: 32.69px
	}
}

@media only screen and (min-width:524px) {
	html {
		font-size: 32.75px
	}
}

@media only screen and (min-width:525px) {
	html {
		font-size: 32.81px
	}
}

@media only screen and (min-width:526px) {
	html {
		font-size: 32.88px
	}
}

@media only screen and (min-width:527px) {
	html {
		font-size: 32.94px
	}
}

@media only screen and (min-width:528px) {
	html {
		font-size: 33px
	}
}

@media only screen and (min-width:529px) {
	html {
		font-size: 33.06px
	}
}

@media only screen and (min-width:530px) {
	html {
		font-size: 33.13px
	}
}

@media only screen and (min-width:531px) {
	html {
		font-size: 33.19px
	}
}

@media only screen and (min-width:532px) {
	html {
		font-size: 33.25px
	}
}

@media only screen and (min-width:533px) {
	html {
		font-size: 33.31px
	}
}

@media only screen and (min-width:534px) {
	html {
		font-size: 33.38px
	}
}

@media only screen and (min-width:535px) {
	html {
		font-size: 33.44px
	}
}

@media only screen and (min-width:536px) {
	html {
		font-size: 33.5px
	}
}

@media only screen and (min-width:537px) {
	html {
		font-size: 33.56px
	}
}

@media only screen and (min-width:538px) {
	html {
		font-size: 33.63px
	}
}

@media only screen and (min-width:539px) {
	html {
		font-size: 33.69px
	}
}

@media only screen and (min-width:540px) {
	html {
		font-size: 33.75px
	}
}

@media only screen and (min-width:541px) {
	html {
		font-size: 33.81px
	}
}

@media only screen and (min-width:542px) {
	html {
		font-size: 33.88px
	}
}

@media only screen and (min-width:543px) {
	html {
		font-size: 33.94px
	}
}

@media only screen and (min-width:544px) {
	html {
		font-size: 34px
	}
}

@media only screen and (min-width:545px) {
	html {
		font-size: 34.06px
	}
}

@media only screen and (min-width:546px) {
	html {
		font-size: 34.13px
	}
}

@media only screen and (min-width:547px) {
	html {
		font-size: 34.19px
	}
}

@media only screen and (min-width:548px) {
	html {
		font-size: 34.25px
	}
}

@media only screen and (min-width:549px) {
	html {
		font-size: 34.31px
	}
}

@media only screen and (min-width:550px) {
	html {
		font-size: 34.38px
	}
}

@media only screen and (min-width:551px) {
	html {
		font-size: 34.44px
	}
}

@media only screen and (min-width:552px) {
	html {
		font-size: 34.5px
	}
}

@media only screen and (min-width:553px) {
	html {
		font-size: 34.56px
	}
}

@media only screen and (min-width:554px) {
	html {
		font-size: 34.63px
	}
}

@media only screen and (min-width:555px) {
	html {
		font-size: 34.69px
	}
}

@media only screen and (min-width:556px) {
	html {
		font-size: 34.75px
	}
}

@media only screen and (min-width:557px) {
	html {
		font-size: 34.81px
	}
}

@media only screen and (min-width:558px) {
	html {
		font-size: 34.88px
	}
}

@media only screen and (min-width:559px) {
	html {
		font-size: 34.94px
	}
}

@media only screen and (min-width:560px) {
	html {
		font-size: 35px
	}
}

@media only screen and (min-width:561px) {
	html {
		font-size: 35.06px
	}
}

@media only screen and (min-width:562px) {
	html {
		font-size: 35.13px
	}
}

@media only screen and (min-width:563px) {
	html {
		font-size: 35.19px
	}
}

@media only screen and (min-width:564px) {
	html {
		font-size: 35.25px
	}
}

@media only screen and (min-width:565px) {
	html {
		font-size: 35.31px
	}
}

@media only screen and (min-width:566px) {
	html {
		font-size: 35.38px
	}
}

@media only screen and (min-width:567px) {
	html {
		font-size: 35.44px
	}
}

@media only screen and (min-width:568px) {
	html {
		font-size: 35.5px
	}
}

@media only screen and (min-width:569px) {
	html {
		font-size: 35.56px
	}
}

@media only screen and (min-width:570px) {
	html {
		font-size: 35.63px
	}
}

@media only screen and (min-width:571px) {
	html {
		font-size: 35.69px
	}
}

@media only screen and (min-width:572px) {
	html {
		font-size: 35.75px
	}
}

@media only screen and (min-width:573px) {
	html {
		font-size: 35.81px
	}
}

@media only screen and (min-width:574px) {
	html {
		font-size: 35.88px
	}
}

@media only screen and (min-width:575px) {
	html {
		font-size: 35.94px
	}
}

@media only screen and (min-width:576px) {
	html {
		font-size: 36px
	}
}

@media only screen and (min-width:577px) {
	html {
		font-size: 36.06px
	}
}

@media only screen and (min-width:578px) {
	html {
		font-size: 36.13px
	}
}

@media only screen and (min-width:579px) {
	html {
		font-size: 36.19px
	}
}

@media only screen and (min-width:580px) {
	html {
		font-size: 36.25px
	}
}

@media only screen and (min-width:581px) {
	html {
		font-size: 36.31px
	}
}

@media only screen and (min-width:582px) {
	html {
		font-size: 36.38px
	}
}

@media only screen and (min-width:583px) {
	html {
		font-size: 36.44px
	}
}

@media only screen and (min-width:584px) {
	html {
		font-size: 36.5px
	}
}

@media only screen and (min-width:585px) {
	html {
		font-size: 36.56px
	}
}

@media only screen and (min-width:586px) {
	html {
		font-size: 36.63px
	}
}

@media only screen and (min-width:587px) {
	html {
		font-size: 36.69px
	}
}

@media only screen and (min-width:588px) {
	html {
		font-size: 36.75px
	}
}

@media only screen and (min-width:589px) {
	html {
		font-size: 36.81px
	}
}

@media only screen and (min-width:590px) {
	html {
		font-size: 36.88px
	}
}

@media only screen and (min-width:591px) {
	html {
		font-size: 36.94px
	}
}

@media only screen and (min-width:592px) {
	html {
		font-size: 37px
	}
}

@media only screen and (min-width:593px) {
	html {
		font-size: 37.06px
	}
}

@media only screen and (min-width:594px) {
	html {
		font-size: 37.13px
	}
}

@media only screen and (min-width:595px) {
	html {
		font-size: 37.19px
	}
}

@media only screen and (min-width:596px) {
	html {
		font-size: 37.25px
	}
}

@media only screen and (min-width:597px) {
	html {
		font-size: 37.31px
	}
}

@media only screen and (min-width:598px) {
	html {
		font-size: 37.38px
	}
}

@media only screen and (min-width:599px) {
	html {
		font-size: 37.44px
	}
}

@media only screen and (min-width:600px) {
	html {
		font-size: 37.5px
	}
}

@media only screen and (min-width:601px) {
	html {
		font-size: 37.56px
	}
}

@media only screen and (min-width:602px) {
	html {
		font-size: 37.63px
	}
}

@media only screen and (min-width:603px) {
	html {
		font-size: 37.69px
	}
}

@media only screen and (min-width:604px) {
	html {
		font-size: 37.75px
	}
}

@media only screen and (min-width:605px) {
	html {
		font-size: 37.81px
	}
}

@media only screen and (min-width:606px) {
	html {
		font-size: 37.88px
	}
}

@media only screen and (min-width:607px) {
	html {
		font-size: 37.94px
	}
}

@media only screen and (min-width:608px) {
	html {
		font-size: 38px
	}
}

@media only screen and (min-width:609px) {
	html {
		font-size: 38.06px
	}
}

@media only screen and (min-width:610px) {
	html {
		font-size: 38.13px
	}
}

@media only screen and (min-width:611px) {
	html {
		font-size: 38.19px
	}
}

@media only screen and (min-width:612px) {
	html {
		font-size: 38.25px
	}
}

@media only screen and (min-width:613px) {
	html {
		font-size: 38.31px
	}
}

@media only screen and (min-width:614px) {
	html {
		font-size: 38.38px
	}
}

@media only screen and (min-width:615px) {
	html {
		font-size: 38.44px
	}
}

@media only screen and (min-width:616px) {
	html {
		font-size: 38.5px
	}
}

@media only screen and (min-width:617px) {
	html {
		font-size: 38.56px
	}
}

@media only screen and (min-width:618px) {
	html {
		font-size: 38.63px
	}
}

@media only screen and (min-width:619px) {
	html {
		font-size: 38.69px
	}
}

@media only screen and (min-width:620px) {
	html {
		font-size: 38.75px
	}
}

@media only screen and (min-width:621px) {
	html {
		font-size: 38.81px
	}
}

@media only screen and (min-width:622px) {
	html {
		font-size: 38.88px
	}
}

@media only screen and (min-width:623px) {
	html {
		font-size: 38.94px
	}
}

@media only screen and (min-width:624px) {
	html {
		font-size: 39px
	}
}

@media only screen and (min-width:625px) {
	html {
		font-size: 39.06px
	}
}

@media only screen and (min-width:626px) {
	html {
		font-size: 39.13px
	}
}

@media only screen and (min-width:627px) {
	html {
		font-size: 39.19px
	}
}

@media only screen and (min-width:628px) {
	html {
		font-size: 39.25px
	}
}

@media only screen and (min-width:629px) {
	html {
		font-size: 39.31px
	}
}

@media only screen and (min-width:630px) {
	html {
		font-size: 39.38px
	}
}

@media only screen and (min-width:631px) {
	html {
		font-size: 39.44px
	}
}

@media only screen and (min-width:632px) {
	html {
		font-size: 39.5px
	}
}

@media only screen and (min-width:633px) {
	html {
		font-size: 39.56px
	}
}

@media only screen and (min-width:634px) {
	html {
		font-size: 39.63px
	}
}

@media only screen and (min-width:635px) {
	html {
		font-size: 39.69px
	}
}

@media only screen and (min-width:636px) {
	html {
		font-size: 39.75px
	}
}

@media only screen and (min-width:637px) {
	html {
		font-size: 39.81px
	}
}

@media only screen and (min-width:638px) {
	html {
		font-size: 39.88px
	}
}

@media only screen and (min-width:639px) {
	html {
		font-size: 39.94px
	}
}

@media only screen and (min-width:640px) {
	html {
		font-size: 40px
	}
}